{% extends 'base.html' %}

{% block css %}
    <style>
        .coder-counter {
            background: mintcream;
            color: black;
        }

        .coder-counter-box {
            border-right: 1px solid peachpuff;
            padding: 30px 0px 30px 0px;
        }
    </style>
{% endblock css %}

{% block content %}

    <div class="coder-counter">
        <div class="container">
            {% for item, count in total.items %}
                <div class="row text-center">
                <div class="col-md-3">
                    <div class="coder-counter-box">
                        <p>total</p>
                        <h2>{{ count }}</h2>
                        <p>{{ item }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}